<!DOCTYPE html>
<html ng-app="garagoModule">
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="app/bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="app/style.css">
    <title>Garago</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#"><div class="brand-logo"></div></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">CURRENT REPAIRS</a></li>
                    <li><a href="#">OLD REPAIRS</a></li>
                    <li><a href="#">CUSTOMERS</a></li>
                    <li class="active"><a href="#">NEW REQUESTS</a></li>
                </ul>
                </div>
        </div>
    </nav>
</header>
<main>
    <div class="container" ng-controller="RequestListCtrl">
        <table class="bordered hoverable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Insurance</th>
                <th>Contract type</th>
                <th>Object</th>
                <th>Date</th>
                <th>C. Car</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in requests">
                <td>{{req.name}}</td>
                <td>{{req.insurance}}</td>
                <td>{{req.contract}}</td>
                <td>{{req.what}}</td>
                <td>{{req.when}}</td>
                <td>{{req.ccar}}</td>
                <td>{{req.where}}</td>
                <td ng-click="answerRequest(req)"><i class="mdi-communication-chat"></i></td>
            </tr>
            </tbody>
        </table>

        <div id="answerModal" class="modal">
            <div class="modal-content">
                <h4>Make an offer</h4>
                <p>You can send each client only one offer, the more detailed, the more likely to be chosen !</p>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="quote" type="number" class="validate" ng-model="msg.price">
                                <label for="quote">Price Estimate</label>
                            </div>
                            <div class="input-field col s6">
                                <label for="repairdate">Date you can take the car</label>
                                <input id="repairdate" type="date" class="datepicker" ng-model="msg.date">
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="garage-msg" class="materialize-textarea" ng-model="msg.text"></textarea>
                                        <label for="garage-msg">Message for the client</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#!" ng-click="sendAnswerRequest(selectedId)" class=" modal-action waves-effect waves-green btn-flat">Send</a>
            </div>
        </div>
    </div>
</main>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="app/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="app/bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="app/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app/bower_components/socket.io-client/socket.io.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/garagoRequestService.js"></script>
</body>
</html>